@mixin button {
  height: 60px;
  width: 800px;
  margin-bottom: 20px;
  @media (max-width: 900px) {
    width: 100%;
  }
}

.button {
  color: $white;
  background-color: $blue;
  border: 1px solid $blue;
  @include button;
}

.button-alternate {
  color: $gray;
  border: 1px solid $gray;
  @include button;
}