.content-container {
  margin: 0 auto;
  padding: 0 $medium;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expense-forms-container {
  padding-top: 60px;
  h1 {
    padding-bottom: 20px;
  }
}