.header {
  color: $white;
  background-color: $dark-gray;
  padding: 20px 0;
  margin-bottom: 20px;
  width: 100%;
  h1 {
    margin-bottom: 10px;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  a {
    margin-right: 30px;
    color: $lightGray;
    text-decoration: none;
  }
}