@mixin date-input {
  width: 800px;
  margin-bottom: 20px;
  @media (max-width: 900px) {
    width: 98%;
  }
}

@mixin input-common {
  width: 780px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  @media (max-width: 900px) {
    width: 95%;
    border: 1px solid #ddd;
  }
}
.input {
  @include input-common;
  height: 60px;
  padding: 0 10px;
}
.SingleDatePickerInput {
  @include date-input;
}
.DateRangePickerInput {
  @include date-input;
}
.textarea {
  @include input-common;
  height: 20px;
  padding: 20px 10px;
}
.select {
  @include input-common;
  height: 60px;
}