// colors
$blue: #3386c3;
$dark-blue: #124a7b;
$white: #ffffff;
$lightGray: #afafaf;
$gray: #777777;
$dark-gray: #191b1e;

// sizes
$x-small: 1.2rem;
$small: 1.6rem;
$medium: 3.2rem;
$large: 4.8rem;
$xxlarge: 8rem;
$desktop-breakpoint: 45rem;
